body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#2338F0;
}

h2{
	color:#707DF7;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}